<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Form Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h3>Some new product form:</h3>
    <hr />
    <form *ngIf="form" [formGroup]="form">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input type="number" formControlName="price"></ion-input>
      </ion-item>
      <hr />
      <ion-button color="primary" expand="block" [disabled]="form.invalid" (click)="save()">Save</ion-button>
    </form>
  </div>
</ion-content>